.DS_Store	
/alexandra/*.txt
/alexandra/*.html
/alexandra/*.css
/kelvin/*.txt
/kelvin/*.html
/kelvin/*.css
/sterling/*.txt
/sterling/*.html
/sterling/*.css
/nathaniel/*.txt
/nathaniel/*.html
/nathaniel/*.css
/rasaun/*.txt
/rasaun/*.html
/rasaun/*.css